body {
  margin: 0;
  padding: 0;
  background-color: #F3F3F5;
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #201A26;
}
.container {
  width: 1200px;
  max-width: 100%;
  margin: auto;
}
#home {
  height: 100vh;
}
#home .container {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}
#home .text {
  font-size: 55px;
}
#home .desc {
  font-size: 25px;
  color: #7F7E8C;
}
#home .code {
  color: #B3B4BE;
  max-width: 100%;
  white-space: pre;
  font-family: 'Inconsolata', monospace;
  padding: 30px;
  overflow: hidden;
  -webkit-transition-duration: .2s;
     -moz-transition-duration: .2s;
       -o-transition-duration: .2s;
          transition-duration: .2s;
}
#home .code:after {
  content: '|';
  opacity: 1;
  -webkit-animation: blink .7s infinite;
  -moz-animation: blink .7s infinite;
  -o-animation: blink .7s infinite;
     animation: blink .7s infinite;
}
@media (max-width: 767px) {
  #home .code {
    font-size: 15px;
  }
}
@media (min-width: 768px) {
  #home .code {
    font-size: 20px;
  }
}
@media (min-width: 970px) {
  #home .code {
    font-size: 25px;
  }
}
@media (min-width: 1170px) {
  #home .code {
    font-size: 30px;
  }
}
@-o-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#home .typed-cursor {
  display: none;
}
