@import 'toolkit';

@c-1: #F3F3F5;
@c-2: #B3B4BE;
@c-3: #7F7E8C;
@c-4: #201A26;
@bg: #F2F0F1;

.setFont() {
	font-family: 'Quicksand', sans-serif;
}

body {
	margin: 0;
	padding: 0;
	.setFont();
	margin-top: 100vh;
}
body, html {
	background-color: @bg;
}
* {
	box-sizing: border-box;
	-webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container {
	width: 1200px;
	max-width: 100%;
	margin: auto;
}
.menu {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 60px;
	padding: 10px 0;
	box-sizing: border-box;
	background-color: #111;
	z-index: 250;
	.when-xs({
		text-align: center;
	});
	.logo {
		float: left;
		display: none;
		color: white;
		font-size: 35px;
		font-weight: 200;
		margin: -10px 0;
		margin-right: 10px;
		height: 60px;
		line-height: 60px;
		cursor: default;
		.when-sm({
			display: inline-block;
		});
	}
	a {
		float: left;
		height: 40px;
		color: white;
		display: inline-block;
		padding: 0 15px;
		line-height: 40px;
		font-size: 16px;
		opacity: .4;
		transition: opacity .3s;
		cursor: pointer;
		box-sizing: border-box;
		text-decoration: none;
		font-weight: 500;
		.when-xs({
			float: initial;
			margin: right
		});
		&:hover, &.active {
			opacity: 1;
		}
		&:last-child {
			opacity: 1;
			border: 1px solid white;
			border-radius: 4px;
			float: right;
			overflow: hidden;
			position: relative;
			transition: color .3s, box-shadow .3s;
			padding: 0 30px;
			display: inline-block;
			margin-right: 10px;	
			.when-xs({
				display: none;
			});
			&:before {
				content: '';
				background-color: white;
				position: absolute;
				height: 100%;
				top: 100%;
				right: 0;
				left: 0;
				text-align: center;
				transition: top .3s;
				z-index: -1;
			}
			&:hover {
				color: #333;
				-webkit-box-shadow: 0px 5px 20px -5px rgba(0,0,0,0.25);
				-moz-box-shadow: 0px 5px 20px -5px rgba(0,0,0,0.25);
				box-shadow: 0px 5px 20px -5px rgba(0,0,0,0.25);
				&:before {
					top: 0;
				}
			}
		}
	}
	.center {
		.container()
	}
}
.section {
	padding: 60px 0;
	.header {
		cursor: default;
		font-size: 50px;
		margin-bottom: 20px;
		&:before {
			content: '#';
			margin-right: 10px;
			opacity: .5;
		}
	}
}

@import 'home';
@import 'skills';
@import 'works';
@import 'contact';

#footer {
	background-color: #111;
	min-height: 60px;
	color: white;
	line-height: 60px;
	font-size: 18px;
	padding: 0 10px;
	.right {
		float: right;
	}
	&:after {
		content: '';
		display: block;
		clear: both;
	}
}