@import 'colors';
#home {
	position: relative;
	background-image: url('http://drive.google.com/uc?export=view&id=0B5PQjHqiZbvibmo2YktUSm5xTlU');
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
	.gradient {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		opacity: .85;
		.gradient(@secondary, @primary);
	}
}