#works {
	border-bottom: 1px solid rgba(0,0,0,.1);
	.pure-u-1 {
		padding: 10px;
	}
	.block {
		height: 250px;
		position: relative;
		width: 100%;
		background-repeat: no-repeat;
		background-size: 1;
		background-position: center center;
		color: white;
		-webkit-box-shadow: 0px 5px 20px -5px rgba(0,0,0,0.25);
		-moz-box-shadow: 0px 5px 20px -5px rgba(0,0,0,0.25);
		box-shadow: 0px 5px 20px -5px rgba(0,0,0,0.25);
		margin-left: -60px;
		opacity: 0;
		transition: opacity .8s .2s, margin-left .8s .2s, transform .3s;
		&:hover {
			transform: scale(1.1);
		}
		&.active {
			margin-left: 0;
			opacity: 1;
		}
		.color {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: transparent;
			z-index: 100;
		}
		.text {
			color: white;
			z-index: 110;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			.setFont();
			.name {
				position: absolute;
				top: 10px;
				left: 10px;
				right: 10px;
				font-size: 18px;
			}
			.url {
				opacity: .6;
				position: absolute;
				bottom: 10px;
				left: 10px;
				right: 10px;
				font-size: 12px;
			}
			.tags {
				position: absolute;
				top: 35px;
				left: 10px;
				right: 10px;
				span {
					border-radius: 10px;
					background-color: rgba(0,0,0,.5);
					padding: 3px 8px;
					margin-right: 5px;
					font-size: 12px;
				}
			}
		}
		&.html {
			.color {
				background-color: fade(#E54F27, 90%);
				border-right: 5px lighten(saturate(#E54F27, 50%), 25%) solid;
			}
		}
		&.python {
			.color {
				background-color: fade(#3B77AA, 90%);
				border-right: 5px lighten(saturate(#3B77AA, 50%), 25%) solid;
			}
		}
	}
	.footer {
		margin-top: 20px;
		font-size: 25px;
		text-align: right;
		padding: 0 10px;
		span {
			white-space: nowrap;
		}
	}
}