---
import { Image as AstroImage } from 'astro:assets';

interface Props {
    alt: string;
    src: ImageMetadata;
    isRounded?: boolean;
    isCentered?: boolean;
    isFullWidth?: boolean;
    isBorderd?: boolean;
    width?: number;
    sub?: string;
}

const {
    alt,
    src,
    isRounded,
    isCentered,
    isFullWidth,
    isBorderd,
    width,
    sub,
} = Astro.props;
---

<div class:list={[
    'image-wrapper',
    {
        centered: isCentered,
        rounded: isRounded,
        'width-full': isFullWidth,
        bordered: isBorderd,
    },
]}>
    <div class="image">
        <AstroImage
            width={width}
            src={src}
            alt={alt}
            loading="eager"
        />
    </div>
    {sub && (
        <div class="sub">{sub}</div>
    )}
</div>

<style lang="scss" scoped>
    .image-wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 1rem;

        .image img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &.centered {
            justify-content: center;
        }

        &.rounded .image img {
            border-radius: 1rem;
        }

        &.width-full, &.width-full .image {
            width: 100%;
        }

        &.bordered .image img {
            border: 1px solid rgba(255, 255, 255, 0.1);
        }

        .sub {
            color: var(--text-dim);
            font-size: 0.8rem;
            margin-top: 0.5rem;
        }
    }
</style>
