---
import Image from '~/components/text/Image.astro';

import img0 from './cover.webp';
import img1 from './approach-1.webp';
import img2 from './approach-2.webp';
import img3 from './approach-3.webp';

export const frontmatter = {
    title: 'Reimagining Minecraft with PHP',
    description: 'A case study on reimplementing Minecraft in PHP 5 through three approaches: native PHP plugin development, utilizing a third-party FFI plugin, and integrating PHP with C/C++ for improved rendering. This exploration highlights the challenges and learnings from bridging PHP with game development.',
    date: '2024-02-22',
    tags: ['PHP', 'Game Development', 'FFI', 'C/C++'],
    slug: 'reimagining-minecraft-with-php',
    cover: img0.src,
};
---

<Image
    src={img0}
    alt="Reimagining Minecraft with PHP"
    type="icon"
/>

<p>
In the vast and ever-evolving landscape of software development, the quest to push the boundaries of what is technically feasible often leads to the most enlightening projects. That's why I want to share my story with you. This idea was born in my mind in 2013, a time when <strong>I was just 16 years</strong> old and driven by an insatiable curiosity about the intersection of programming languages traditionally used for web development and the complex world of game development. The challenge I set for myself was not just ambitious but also unconventional: to reimplement a game inspired by the mechanics of a popular 3D block-building game - Minecraft, entirely within the PHP 5 environment. This was a task that ventured far beyond PHP's usual domain, inviting a host of technical and conceptual challenges. On top of that, it's worth noting that I was an inexperienced programmer at this stage.
</p>
<p>
PHP, with its strong foothold in server-side scripting for web development, presented an intriguing canvas for this experiment. Its dynamic and interpretable nature offered a degree of flexibility and accessibility that was both its strength and its Achilles' heel when faced with the demands of real-time, interactive 3D game development. The project was born out of a simple yet profound question: Could the gap between PHP and game development be bridged, and if so, how? This question served as the guiding light for what would become a deeply educational experience.
</p>
<p>
This introduction sets the stage for a detailed exploration of each approach, the challenges encountered, the solutions devised, and the invaluable lessons learned. It is a testament to the journey of exploration, the relentless pursuit of knowledge, and the unwavering belief in the potential of technology to transcend its perceived limitations. Through this case study, I aim to share not just the technical intricacies of attempting game development with PHP but also the broader implications of such endeavors for the fields of programming and software engineering.
</p>

<h2>Approach 1: Native PHP Plugin Development</h2>

<Image
    src={img1}
    alt="Native PHP Plugin Development"
    type="icon"
/>

<p>
The inaugural phase of my endeavor into the realm of game development via PHP was marked by an ambitious goal: to bridge the world of PHP, a language predominantly wielded for web development, with the intricate demands of real-time 3D game rendering. This approach was predicated on the idea that, by developing a native PHP plugin, I could directly integrate powerful graphics libraries like DirectX or SDL into PHP. The vision was clear - to leverage the rendering capabilities of these libraries within PHP scripts, thereby unlocking the potential for game development within a PHP environment.
</p>

<p>
The first step had to be an examination of the PHP 5 source code architecture. This version of PHP, widespread at the time, was not inherently designed with the ability to interact directly with low-level graphical libraries. This task required an in-depth understanding of PHP's internal mechanisms, understanding its extension architecture and how it could be extended to include external library calls.
</p>

<p>
Developing a native PHP plug-in required a comprehensive understanding of both PHP and C, the language in which both PHP was written and would have to interact with the code of the other libraries. The process required defining PHP functions that could serve as wrappers for the library's functions, allowing PHP scripts to directly invoke graphical rendering commands.
</p>

<p>
One of the most significant hurdles was the complexity of PHP's source code. PHP, being a high-level language, abstracts much of the complexity inherent in low-level programming. Bridging this gap required not only a technical understanding of C but also a nuanced grasp of the interaction between high-level scripting and low-level system operations.
</p>

<p>
The task of developing a plug-in that could seamlessly integrate with PHP and provide robust support for DirectX or SDL features was daunting. Each step forward revealed new challenges, from efficient memory management to ensuring that the PHP execution environment could handle storing properly anchored relationships, integrating with the C code layer, and finally the real-time rendering requirements with performance that was at least acceptable.
</p>

<p>
Despite the initial enthusiasm and the progress made in understanding the environment that was PHP source code at a minimum level, so as to write their own plugin. It turned out that adding every single line in such code was a huge challenge for me at the time. Especially in the context of type casting.
</p>

<p>
This phase of the project was a profound learning experience. It allowed me to understand what a dynamic language like PHP and its extension mechanisms look like. This endeavor, although it didn't end with anything interesting, prepared the ground for further research and laid the foundation for future approaches. And most importantly, it taught me a lot.
</p>

<h2>Approach 2: Utilizing a Third-Party FFI Plugin</h2>

<Image
    src={img2}
    alt="Utilizing a Third-Party FFI Plugin"
    type="icon"
/>

<p>
After grappling with the inherent challenges of directly integrating graphics libraries into PHP through a native plugin, I shifted focus towards leveraging the capabilities of third-party Foreign Function Interface (FFI) plugins. This approach represented a strategic pivot, aiming to circumvent some of the direct integration complexities by enabling PHP to execute functions from external DirectX or SDL libraries indirectly. The rationale behind this move was to explore the potential of FFI as a bridge between PHP and the high-performance rendering capabilities required for game development.
</p>

<p>
The Foreign Function Interface (FFI) allows for the direct use of functions, variables, and data structures defined in C libraries within other programs. This capability promised a new avenue for interfacing PHP with the robust graphical functionalities provided by rendering libraries, potentially overcoming the limitations encountered in the native plugin development approach.
</p>

<p>
Choosing off-the-shelf FFI plug-ins for PHP was a non-existent problem at the time - because nothing like this almost didn't exist. The only such plugin I could find on the PECL extensions page was an extension called FFI (duh?), unfortunately its latest version was dated 2004-01-20 (9 years before I used it!), and it was in alpha version. This meant that I did not have an easy road ahead of me.
</p>

<p>
Despite the theoretical advantages of using FFI, the approach has introduced its own set of challenges:
</p>


<ul>
    <li>
    Complexity of executing external functions: Managing the execution of external library functions via FFI proved to be more complex than I thought.
    </li>
    <li>
    Limited functionality: While basic tasks were not a problem, more complex interactions with these libraries were impossible.
    </li>
    <li>
    Technical Overheads: The need to meticulously define and manage the interface between PHP and the external libraries introduced substantial technical overhead, complicating the development process.
    </li>
</ul>
<p>
While this approach offered valuable insights and small successes, it ultimately reinforced the understanding that the path to game development in the PHP ecosystem would require more than just combining PHP with external libraries.
</p>

<h2>Approach 3: Integrating PHP with C/C++</h2>

<Image
    src={img3}
    alt="Integrating PHP with C/C++"
    type="icon"
/>

<p>
The journey through the initial approaches revealed the inherent challenges of using PHP directly for game development, especially for tasks requiring high performance graphics rendering. The realization that a pure PHP solution may not be practical for achieving the desired game functionality led to a key change in strategy. The third approach took a more innovative path: developing a hybrid solution that combined PHP with a standalone C/C++ application. This application was specifically designed to handle the game's rendering and logic using Simple DirectMedia Layer (SDL), while PHP was to instrument this application.
</p>

<p>
To bridge the gap between this C/C++ application and PHP, I utilized the Foreign Function Interface (FFI) capabilities, albeit in a different context than in Approach 2. Instead of directly calling external library functions from PHP, FFI was used to facilitate communication between the PHP scripts and the standalone C/C++ application. This setup allowed the PHP script to send commands and receive data from the application, effectively outsourcing the performance-intensive tasks to the C/C++ layer while maintaining control over the game's higher-level logic and flow from PHP.
</p>

<p>
This method brought me closer to achieving the project goal, successfully creating sample programs that combined the ease of development and flexibility of PHP with the performance and graphics capabilities of C/C++ and SDL. This phase of the project was a testament to the power of hybrid solutions to overcome the limitations of each technology. On the other hand, I also realized at this stage that this direction contradicted the initial assumptions. It was a direction that could be used in this way, but is it worth it?
</p>