doctype html
html
	head
		title Maxie | Portfolio
		|
		meta(charset='utf-8')
		meta(
			name='viewport'
			content='width=device-width, initial-scale=1'
		)
		|
		link(
			href='https://fonts.googleapis.com/css?family=Courgette|Roboto:400'
			rel='stylesheet'
		)
		link(href='css/main.css' rel='stylesheet')
		|
	body
		- var menu = ['Home', 'About me', 'Skills', 'Works', 'Contact'];
		#menu.top
			.bg
			.container
				.logo Mr <span>Maxie</span>
				.items
					each name, index in menu
						a.item(href='#'+name.toLowerCase().replace(' ', '_'), class= !index?'active':'')= name
					.indicator
		#home.section
			.bg
			.gradient
			.text.
				Hello, I'm Maciej Mieńko<br>
				aka Mr <span>Maxie</span><br>
				and I'm the Programmer.
		.section
	script(src='https://cdnjs.cloudflare.com/ajax/libs/particles.js/2.0.0/particles.min.js')
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
	script(src='js/particles.js')
	script(src='js/preload.js')
	script(src='js/scrollspy.js')