---
interface Props {
    crumbs: Array<{
        label: string;
        href?: string;
    }>;
}

const { crumbs = [] } = Astro.props;
---

<div class="breadcrumbs" transition:name="breadcrumbs">
    {
        crumbs.map(({ label, href }) => href ? (
            <a class="crumb" href={href}>
                {label}
            </a>
        ) : (
            <span class="crumb">{label}</span>
        ))
    }
</div>

<style lang="scss">
    .breadcrumbs {
        font-size: 0.9rem;

        .crumb {
            &:last-child:after {
                content: none;
            }

            &:after {
                content: '›';
                margin: 0 0.5rem;
            }
        }

        a {
            color: var(--text-dim);
            text-decoration: none;
            transition: color 0.2s;

            &:hover {
                color: var(--text-accent);
            }
        }
    }
</style>
