---
import type {
    GetStaticPaths,
    InferGetStaticPropsType,
} from 'astro';

import BaseLayout from '~/layouts/Base.astro';

import Breadcrumbs from '~/components/Breadcrumbs.astro';
import Tags from '~/components/Tags.astro';
import Header from '~/components/Header.astro';
import ArticleContent from '~/components/ArticleContent.astro';

import FooterSection from '~/components/sections/Footer.astro'
import ProjectsSection from '~/components/sections/Projects.astro'

import { getCaseStudies } from '~/utils/caseStudies.astro';

export const getStaticPaths = (async () => {
    const posts = await getCaseStudies();

    return posts.map(post => ({
        params: {
            slug: post.frontmatter.slug
        },
        props: {
            frontmatter: post.frontmatter,
            Content: post.default,
        },
    }));
}) satisfies GetStaticPaths;

export const prerender = true

const { Content, frontmatter } = Astro.props as InferGetStaticPropsType<typeof getStaticPaths>;
---

<BaseLayout title={`${frontmatter.title} | Projects | Maciej Mieńko`}>
    <Header />

    <Breadcrumbs
        crumbs={[
            ['Home', '/'],
            ['Projects', '/projects'],
            [frontmatter.title],
        ]}
    />

    <div class="date">{frontmatter.date}</div>

    <h1>{frontmatter.title}</h1>

    <Tags tags={frontmatter.tags} />

    <ArticleContent>
        <Content />
    </ArticleContent>

    <ProjectsSection
        exceptSlugs={[frontmatter.slug]}
    />

    <FooterSection />
</ArticleLayout>

<style lang="scss" is:global>
    .date {
        font-size: 0.9rem;
        color: var(--color-dim);
        margin-bottom: 1rem;
    }
</style>
